@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Mouse Memoirs";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(styles/fonts/MouseMemoirs-Regular.ttf) format("truetype");
  }
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.bg-custom {
  background-image: url("assets/images/background-mobile.svg");
}

@media (min-width: 768px) {
  .bg-custom {
    background-image: url("assets/images/background-tablet.svg");
  }
}

@media (min-width: 1280px) {
  .bg-custom {
    background-image: url("assets/images/background-desktop.svg");
  }
}
